<style>
    .go_home{
    width: 600px;
    margin:20px auto;
    }
    .post_table{
    width: 600px;
    margin:20px auto;
    position: relative;
    }
    .new_make{
    position:absolute;
    left:150px;
    top:0%;

    }
    .body_{
    width: 600px;
    margin:20px auto;
    padding:20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    }
</style>

<!-- base.htmlを使う -->
{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
    恋愛
</div>
{% endblock %}

{% block content %}
<!-- 作成画面に飛ぶ -->
<div class="post_table">
<a href="{% url 'love_create' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">新規作成</a>
<h2>投稿一覧</h2>
</div>

<div class="body_">
<ul>
{% for item in object_list %}
    <li><a href="{% url 'love_detail' item.pk %}" class="btn btn-outline-info" role="button" aria-pressed="true">{{ item.title }}</a></li>
{% endfor %}
</ul>
</div>
<div class="go_home">
<a href="{% url 'home' %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">ホームに戻る</a>

</div>
{% endblock content %}