{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">
    投稿の詳細
</div>
{% endblock header %}

{% block content %}
<div class='container'>
    <div class="alert alert-success" role="alert">
        <p>タイトル:{{ object.title }}</p>
        <p>内容:{{ object.content }}</p>
        <p>投稿者:{{ object.author }}</p>
        <a href="{% url 'manga' %}" class="btn btn-success" role="button">戻る</a>
    </div>
</div>
{% endblock content %}